<center><h1>Current Blog Posts</h1>
<%= link_to 'New Blog Post', new_blog_post_path, class: "btn btn-info" %></center>
<br>
<div class="row">
  <% @blog_posts.each do |blog_post| %>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= link_to blog_post.title, blog_post %></h4>
        </div>
        <div class="panel-body">
          <h6>by <%= blog_post.user.username %><br/></h6>
          <br>
          <p><%= blog_post.blog_entry[0..250] %>...<%= link_to "continue reading", blog_post %></p>
        </div>
        <div class="panel-footer">
          <%= link_to 'Edit', edit_blog_post_path(blog_post), class: "btn btn-warning" %>
          <%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          <p class="pull-right">posted on: <%= blog_post.created_at.strftime('%m/%d/%Y at %I:%M%p') %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
  
<br>

